.container {
                         width: 200px;
                         margin: 0 auto;
                         padding: 100px;
                         border: 1px solid #182bda;
                         border-radius: 25px;
                       }
                       
                       form {
                         display: flex;
                         flex-direction: column;
                       }
                       
                       .form-group {
                         margin-bottom: 10px;
                       }
                       
                       label {
                         font-weight: bold;
                       }
                       
                       input[type="text"],
                       input[type="password"] {
                         padding: 5px;
                         border: 1px solid #ccc;
                         border-radius: 3px;
                       }
                       
                       button {
                         padding: 10px;
                         background-color: #252fbd;
                         color: rgb(58, 49, 49);
                         border: none;
                         cursor: pointer;
                       }
                       
                       button:hover {
                         background-color: #261ac9;
                       }
                       body{
                         font-family: Arial, Helvetica, sans-serif;
                         background-color: #ffffff;
                         
                       }
                       .navbar {
                         display: flex;
                         margin-right: 10px;
                     }
                     
                     .logo {
                         margin-left: 30px;
                     }
                     
                     .logo a {
                         text-decoration: none;
                         color: #fff;
                         text-transform: uppercase;
                         font-size: 20px;
                     }
                     
                     .navbar a {
                         display: block;
                         padding: 20px 20px;
                         color: #480fe6;
                         text-decoration: none;
                         text-transform: uppercase;
                         font-size: 20px;
                     }
                     
                     .navbar a:hover {
                         background: #3f3f3f;
                     }
